ms_training/mule-event-demo/src/main/mule/read-json-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="74991467-ff12-400e-85fc-7be0a787af70" basePath="/mulemsgstructure">
		<http:listener-connection host="0.0.0.0" port="10082" />
	</http:listener-config>
	<flow name="read-json-demoFlow" doc:id="9b67125e-53e8-4d30-aa0c-624625172eeb" >
		<http:listener doc:name="Listener" doc:id="f1bf8c6e-eec0-499b-b982-edeed94f6d51" config-ref="HTTP_Listener_config" path="/readjson" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="99a6791b-2cee-4ec8-90b3-a3edb45e6a32" message="#[payload.name]"/>
	</flow>
</mule>
