ms_training/mule-event-demo/src/main/mule/read-xml-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="read-xml-demoFlow" doc:id="5a3ff564-48fc-4f04-ba9d-3aad56348478" >
		<http:listener doc:name="Listener" doc:id="c370b7b8-63d6-4984-a08e-041f26e787f1" config-ref="HTTP_Listener_config" path="/read-xml" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="a7e29a12-5bcf-4c2b-8235-9815ecf1a6d3" message="#[payload.emp.id]"/>
	</flow>
</mule>
