AnypointStudio/studio-workspace/.tooling-apps-cache/app/accountroutingservice/accountroutingservice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="27b4a473-a4fe-49dd-9aea-a2f29c26cc45" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="accountroutingserviceFlow" doc:id="b4187fa8-f365-4675-9590-9aa3ecad17f3" >
		<http:listener doc:name="Listener" doc:id="49e266df-a51b-4e83-9d3d-4424e8825047" path="/ext/accountManagement/v1/subscriberAccount" config-ref="HTTP_Listener_config" allowedMethods="POST"/>
		<choice doc:name="Choice" doc:id="3a71f11b-5237-40c1-a5b8-fc8258766857" >
			<when expression='#[attributes.queryParams.accountType == "Prepaid"]'>
				<logger level="INFO" doc:name="Logger" doc:id="2a718e9b-3090-4b3c-9ba1-ed09416c36cc" message="prepaid  Account Request Sent"/>
			</when>
			<when expression='#[attributes.queryParams.accountType == "Postpaid"]'>
				<logger level="INFO" doc:name="Logger" doc:id="58ff6fea-1ccf-4ef0-93af-badd18f1931d" message="Pospaid Account Request Sent"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="1bab0aea-e17d-4870-9cc5-20209798d370" message="Default Account Request Sent"/>
			</otherwise>
		</choice>
	</flow>
</mule>